@charset "UTF-8";
/*Abstract*/
/*Base*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Gilroy";
  color: #1d2530;
}

h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 6rem;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
}

.text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

/*Components*/
.button {
  padding: 10px 20px;
  border-radius: 6px;
  line-height: 20px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.button_colored {
  background: #685ed6;
  color: #fff;
}

.promo__wrapper {
  padding: 92px 0 0 0;
}

.promo__description {
  margin: 35px 0 0 0;
}

span {
  color: #685ed6;
  font-weight: 800;
}

.promo__title_colored {
  color: #685ed6;
}

.promo__text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  padding: 24px 0 0 0;
  width: 482px;
}

.promo__button {
  display: inline-block;
  margin: 32px 0 0 0;
}

.benefits {
  padding: 129px 0 0 0;
}

.benefits__title {
  padding-bottom: 68px;
}

.benefits__block > *:not(:first-child) {
  padding: 48px 0 0 0;
}

.benefit_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit__icon {
  padding-right: 26px;
}

.benefit__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit_title {
  padding-bottom: 8px;
}

.benefit__text {
  width: 428px;
}

.tariffs__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.tariffs__title p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
}

.tariff__block {
  width: 350px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.tariff__block:not(:last-child) {
  padding-right: 30px;
}

.tariff_title {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.8rem;
  background: rgba(104, 94, 214, 0.05);
  color: #685ed6;
  border-radius: 6px 6px 0 0;
  padding: 7px 0;
}

.tariff_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tariff_value,
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff_value {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  padding: 37px 30px 0 30px;
}

.tariff_value p {
  text-align: center;
}

.price {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  padding: 32px 29px 46px 29px;
}

.price p {
  text-align: center;
}

.tariff_button {
  padding: 0 33px 50px 30px;
}

.blocks__title {
  padding: 100px 0 54px 0;
}

.steps__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__blocks .steps__blocks > :nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-number {
  background: #f1e4ff;
  border-radius: 100px;
  width: 72px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  color: #685ed6;
}

.step-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  padding: 16px 0 4px;
}

.step-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
}

.step-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: center;
  padding-bottom: 50px;
}

.two {
  padding-top: 65px;
}

.form_img {
  margin-top: 170px;
  background: url(../img/BG.png), url(../img/Vector2.svg);
  /*$color-default;
  width: 1110px;
  height: 288px;
  border-radius: 5px;*/
}

.form_image {
  padding: 17px 80px 0 86px;
}

.form__title {
  padding: 48px 185px 32px 0;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.1rem;
  color: #fff;
}

.form__input {
  padding: 14px 16px;
  border-radius: 5px 0px 0px 5px;
}

.form__button {
  padding: 14px 24px;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  background-color: #18191f;
  border-radius: 0px 5px 5px 0px;
}

/*Pages*/
/*Theme*/
/*Vendors*/
/*Layout*/
.header__wrapper {
  padding: 32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header__button {
  background-color: #f1e4ff;
  margin-right: 12px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.layout-2-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-3-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background: #141b23;
}

.footer__content {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  padding: 25px 0 25px 0;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */