.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
  transition: all 0.8 ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  background: $color-light;
  border-radius: 5px;
}

.popup__title {
  text-align: center;
  color: $color-default;
  @include font($size: 3.2rem, $height: 3.2rem, $weight: 800);
  padding: 105px 0 32px;
}
.popup__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 70px;
}
input:not(:last-child) {
  margin: 0 0 10px 0;
}

input {
  @include font($size: 1.6rem, $height: 2.4rem, $weight: 400);
  color: $color-popupplaceholder;
  background: $color-popupinput;
  border-radius: 4px;
  padding: 8px 20px;
  border: 1px solid $color-popupinput;
  &:hover {
    border: 1px solid $color-input-hover;
  }
  &:focus {
    border: 1px solid $color-input-focus;
  }
}

input,
.popup__button {
  width: 340px;
}

input[type="password"] {
  background: url(/img/Group.svg) no-repeat right 20px bottom 8px,
    $color-popupinput;

  &:hover {
    border: 1px solid $color-input-hover;
  }
  &:focus {
    border: 1px solid $color-input-focus;
  }
}

.error {
  border: 1px solid $color-input-error;
}
.check {
  align-self: flex-start;
  background: url(/img/error.svg) no-repeat left bottom 8px;
  padding-left: 24px;
  padding-bottom: 8px;
  @include font($size: 1.2rem, $height: 1.6rem, $weight: 400);
}

.popup__button {
  margin-bottom: 139px;
  margin-top: 32px;
}
.popup__button-register {
  margin-bottom: 63px;
}

.popup__reminder {
  align-self: flex-end;
  a {
    font-family: "Nunito Sans";
    @include font($size: 1.2rem, $height: 1.6rem, $weight: 400);
    color: $color-input-focus;
  }
}
