.benefits {
  padding-top: 69px;
  padding-bottom: 82px;
  background: $background-header;
}
.benefits__desc{
  margin-right: 76px;
}
.benefit__title {
  padding-top: 20px;
  padding-bottom: 68px;
}
.benefits__icon{
  margin-right: 26px;
}
.benefits__h3{
  margin-bottom: 8px;
}
.benefits__block:not(last-child) {
  padding-bottom: 48px;
}

.layout-2-rows {
  max-width: 428px;
}

@media screen and (max-width:1030px){
  .benefits__desc {
    margin-right: 0px;
}
}

@media screen and (max-width:900px){
  .benefits__columns{
    flex-direction: column;
    justify-content: center;
    & > img{
      max-width: 244px;
      display: block;
      margin-left: auto ;
      margin-right: auto;

    }
  }
  
.benefits__desc{
  margin-left: auto ;
  margin-right: auto;
}
}