.form_img {
  margin-top: 170px;
  background: url(../img/BG.png);
  /*$color-default;
  width: 1110px;
  height: 288px;
  border-radius: 5px;*/
  margin-bottom: 90px;
}
.form_image {
  padding: 17px 80px 0 86px;
}
.form__title {
  padding: 48px 185px 32px 0;
  @include font($size: 3.3rem, $height: 4.1rem, $weight: 800);
  color: $color-light;
}

.form__input {
  padding: 14px 16px;
  border-radius: 5px 0px 0px 5px;
  width: 248px;
  margin-right: -2px;
  @include font($size: 1.5rem, $height: 2.4rem, $weight: 400);
  background: $color-ul;
  border: 1px solid $color-ul;
  &:focus {
    border: 1px solid $color-input-focus;
  }
  &:hover {
    border: 1px solid $color-input-hover;
  }
}
.form__button {
  padding: 14px 24px;
  color: $color-light;
  @include font($size: 1.4rem, $height: 2rem, $weight: 700);
  background-color: $color-button;
  border-radius: 0px 5px 5px 0px;
}
