.links {
  background: $color-text;
}
.links-wrapper{
  padding-top: 104px;
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
  padding-right: 23px;

}
.links__wrapper {
  display: flex;
  justify-content: right;
  
}
.logo {
  padding-right: 130px;
  a {
    color: $color-light;
    padding-top: 10px;
  }
}

.link__title {
  @include font($size: 2rem, $height: 3rem, $weight: 500);
  color: $color-ul;
  padding: 0 0 32px 0;
}
li {
  @include font($size: 1.6rem, $height: 2.6rem, $weight: 400);
  color: $color-ul;
  &:not(:last-child) {
    padding-bottom: 12px;
  }
}
.about-us {
  width: 160px;
  //padding-left: 126px;
}
.support {
  padding-right: 100px;
  padding-bottom: 78px;
}
@media screen and (max-width:800px)  {
  .links-wrapper{
    //display: block;
  }
  .links__wrapper{
    flex-direction: column;
  }
  .support{
    padding-right: 0;
  }
  .about-us{
   // position: relative;

  }
}