
.promo__wrapper {
  padding-top: 92px;
  width: 100%;
}
.promo__desc {
  margin-top: 35px;
}
span {
  color: $color-default;
  font-weight: 800;
}
.promo__title_colored {
  color: $color-default;
}
.promo__text {
  @include font($size: 2.4rem, $height: 3.4rem, $weight: 400);
  padding-top: 24px;
 //width: 482px;
  margin-bottom: 32px;
}
.promo__img{
  max-width: 100%;
  margin-left: -120px;
}

@media screen and (max-width:1100px) {
  .promo__columns {
   justify-content: center;
  }
  .promo__img, .promo__desc{
    max-width: 50%;
  }
  .promo__img{
    margin-left: 0;
  }
}

@media screen and (max-width:600px) {
.promo__columns{
  flex-direction: column;
  justify-content: center;
}
.promo__desc{
  max-width: 100%;
  padding-bottom: 48px;
}
.promo__img{
  max-width: 100%;
}
}