.tariffs{
  padding-top: 100px;
  padding-bottom:100px;
}
.tariffs__subtitle{
  @include font($size: 2.4rem, $height: 3.2rem, $weight: 700);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 16px;
}

.tariff__block {
  width: 350px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
  border-radius: 6px;
  box-sizing: content-box;
  &:not(:last-child) {
    padding-right: 30px;
  }
}
.tariff_title {
  text-align: center;
  @include font($size: 2.4rem, $height: 4.8rem, $weight: 800);
  background: $color-tariff-block;
  color: $color-default;
  border-radius: 6px 6px 0 0;  
  padding: 7px 0;
}
.tariff_text {
  padding: 40px 32px 50px 32px;
  text-align: center;
}

.tariff_value {
  @include font($size: 2.8rem, $height: 4rem, $weight: 700);
  padding-bottom: 32px;
}
.tariff_price {
  @include font($size: 2rem, $height: 3rem, $weight: 500);
  padding-bottom: 46px;
  text-align: center;
}

.tariff_button {
  width: 287px;
  padding: 12px 0;
}
