$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$color-default: #685ed6;
$color-light: #fff;
$color-violet: #f1e4ff;
$color-text: #1d2530;
$color-background-footer: #141b23;
$color-tariff-block: rgba(104, 94, 214, 0.05);
$color-button: #18191f;
